.custom-dropdown .Select-control {
    background-color: #333;
    color: black;
}

.custom-dropdown .Select-menu-outer {
    background-color: #333;
}

.custom-dropdown .Select-option {
    color: white;
}

.custom-dropdown .Select-option.is-focused {
    background-color: #555;
}

.custom-dropdown .Select-option.is-selected {
    background-color: rgba(254, 234, 99, 1);
    color: black;
}